next.dockerfile
next.dockerfile
.dockerignore
.env
.gitignore
.next
.env
.env.local
.env.production.local
.env.development.local
.git
.gitignore
.next
.npmrc
.yarnrc
README.md
node_modules
npm-debug.log
